
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Toplam Yazar Sayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-boxes"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d1</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Toplam AdminSayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-box-open"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d2</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Toplam Kategori Sayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-users"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d3</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Toplam Başlık Sayısı Sayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-calendar-day"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d4</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-gradient-teal mb-3">
            <div class="card-header">İtiraflarım Başlığına Yazılan  Yazı  </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-shopping-cart"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d5</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Spor Başlığına Yazılan Toplam Yazı </div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-chart-line"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d6</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">A Rolüne Sahip Admin Sayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-home"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d7</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Toplam İçerik Sayısı</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-clock"></i></h5>
                <br />
                <p class="card-text">@ViewBag.d8</p>
            </div>
        </div>
    </div>
</div>






